<footer class="row">
    <div class="large-12 columns">
      
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; Twistor Labs inc, 2013</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li ng-tap="$navigate.go('/map', 'slide')"><a href="#">About Us</a><br/>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">For Investors</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>