<header class="grids grid-12">
    <button class="grids grid-2 back" ng-tap="$navigate.go('/home', 'slide')""><!--back--></button>
    <img  ng-tap="$navigate.go('/home', 'slide')"  class="top_icons" src="images/search.png"/>
     <input class="main_search" type="text" placeholder="search for meetings, activities, people, and cool inspiration"/>
     <img ng-tap="$navigate.go('/signup', 'slide')" class="top_icons" src="images/setting.png"/>
     <img ng-tap="$navigate.go('/signup', 'slide')" class="top_icons" src="images/sos_signal.png"/>&nbsp;


     <img  ng-tap="$navigate.go('/home', 'slide')"  class="top_icons" src="images/home.png"/>
</header>