<ng-include src="views.header"></ng-include>

  <div class="row info_head">
    <div class="large-12 columns sos_head">
      <div class="panel">
        
        <div class="row">
            <div class="small-2 large-3 columns"><img class="circle" ng-tap="$navigate.go('/profile', 'slide')" src="images/friends.jpg" /></div>
            <div class="small-9 large-9 columns">
            	<h1>Yeah! Everyone loves company! Especially misery. Hopefully you don't have it! There's a lot of people JUST LIKE YOU right around the corner</h1>
<form class="custom">


<div class="row">
  <ul class="small-block-grid-2 large-block-grid-3">
  <li>
                       
                          <div class="styled-select">
                  <select id="customDropdown1" class="medium">
                    <option value="" selected="selected">Both</option>
                    <option value="" selected="selected">Abstainers</option>
                    <option value="" selected="selected">Moderators</option>
                  </select>

             
                
              </div>
              <span>within</span>
              </li>

              <li>

                          <div class="styled-select">
                  <select id="customDropdown1" class="medium">
                    <option value="" selected="selected">10 miles</option>
                    <option value="" selected="selected">25 miles</option>
                    <option value="" selected="selected">50 miles</option>
                  </select>
                </div>
               
              <span>of</span>
            </li>
<li>

                          <div class="styled-select">
                  <select id="customDropdown1" class="medium">
                    <option value="" selected="selected">10 miles</option>
                    <option value="" selected="selected">25 miles</option>
                    <option value="" selected="selected">Brooklyn, NY</option>
                  </select>
                
                </div>

              </li> </ul>
            </div>
<div class="row">


  <ul class="small-block-grid-2 large-block-grid-3">
    <li>
  <h3>Gender</h3>
  <button class="tiny button secondary">both</button>
  <button class="tiny button secondary">male</button>
  <button class="tiny button secondary">female</button>
  <button class="tiny button secondary">other</button>
</li>
<li>
   <h3>Drug</h3>
 <button class="tiny button secondary">moderating</button>
  <button class="tiny button secondary">abstaining</button>

</li>

<li>
  <h3>Interests</h3>
  <button class="tiny button secondary">music</button>
  <button class="tiny button secondary">art</button>
  <button class="tiny button secondary">computers</button>
  <button class="tiny button secondary">sports</button>
 <button class="tiny button secondary">film/video</button>
  <button class="tiny button secondary">academics</button>
  <button class="tiny button secondary">FOOD</button>
</li>
  </ul>

     </div>       
        </form>
            
           
	

          </div>


      </div>
    </div>
  </div>

  <!-- End Header and Nav -->

  <div class="row down">

 <!-- Nav Sidebar -->
        <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="panel large-6 columns push-3">


<div class="row entry member_entry">
        <div class="small-3 large-2 columns "><img class="circle dimensions" height="75" width="75" src="images/member1.jpg" /></div>
        <div class="small-9 large-10 columns">
                    <hgroup class="meeting_info">
          <h5>Member 1<strong></strong><button class="goal_setting">MODERATING</button></h5>
          <p class="address"><strong>30 | M , Brooklyn, NY</strong></p>
          <p class="tags"><strong>Interests</strong>   <button class="tiny button secondary">music</button>
  <button class="tiny button secondary">art</button>
  <button class="tiny button secondary">computers</button>
  <button class="tiny button secondary">sports</button>

        </hgroup>
          <ul class="inline-list squeezed">
            
           <li><button>Add to Pod</button></li>
            <li><button>Invite to meeting</button></li>
            <li><button>Send message</button></li>
          </ul>
        </div>
      </div>


<div class="row entry member_entry">
        <div class="small-3 large-2 columns "><img class="circle" src="images/member2.jpg" /></div>
        <div class="small-9 large-10 columns">
                hgroup class="meeting_info">
          <h5>Member 1<strong></strong><button class="goal_setting">MODERATING</button></h5>
          <p class="address"><strong>30 | M , Brooklyn, NY</strong></p>
          <p class="tags"><strong>Interests</strong>   <button class="tiny button secondary">music</button>
  <button class="tiny button secondary">art</button>
  <button class="tiny button secondary">computers</button>
  <button class="tiny button secondary">sports</button>

        </hgroup>
          <ul class="inline-list squeezed">
            
           <li><button>Add to Pod</button></li>
            <li><button>Invite to meeting</button></li>
            <li><button>Send message</button></li>
          </ul>
        </div>
      </div>


<div class="row entry member_entry">
        <div class="small-3 large-2 columns "><img class="circle" src="images/member3.jpg" /></div>
        <div class="small-9 large-10 columns">
                <hgroup class="meeting_info">
          <h5>Member 1<strong></strong><button class="goal_setting">MODERATING</button></h5>
          <p class="address"><strong>30 | M , Brooklyn, NY</strong></p>
          <p class="tags"><strong>Interests</strong>   <button class="tiny button secondary">music</button>
  <button class="tiny button secondary">art</button>
  <button class="tiny button secondary">computers</button>
  <button class="tiny button secondary">sports</button>

        </hgroup>
          <ul class="inline-list squeezed">
            
           <li><button>Add to Pod</button></li>
            <li><button>Invite to meeting</button></li>
            <li><button>Send message</button></li>
          </ul>
        </div>
      </div>


<div class="row entry member_entry">
        <div class="small-3 large-2 columns "><img class="circle" src="images/member4.jpg" /></div>
        <div class="small-9 large-10 columns">
                  hgroup class="meeting_info">
          <h5>Member 1<strong></strong><button class="goal_setting">MODERATING</button></h5>
          <p class="address"><strong>30 | M , Brooklyn, NY</strong></p>
          <p class="tags"><strong>Interests</strong>   <button class="tiny button secondary">music</button>
  <button class="tiny button secondary">art</button>
  <button class="tiny button secondary">computers</button>
  <button class="tiny button secondary">sports</button>

        </hgroup>
          <ul class="inline-list squeezed">
            
           <li><button>Add to Pod</button></li>
            <li><button>Invite to meeting</button></li>
            <li><button>Send message</button></li>
          </ul>
        </div>
      </div>

<div class="row entry member_entry">
        <div class="small-3 large-2 columns "><img class="circle" src="images/member5.jpg" /></div>
        <div class="small-9 large-10 columns">
             <hgroup class="meeting_info">
          <h5>Member 1<strong></strong><button class="goal_setting">MODERATING</button></h5>
          <p class="address"><strong>30 | M , Brooklyn, NY</strong></p>
          <p class="tags"><strong>Interests</strong>   <button class="tiny button secondary">music</button>
  <button class="tiny button secondary">art</button>
  <button class="tiny button secondary">computers</button>
  <button class="tiny button secondary">sports</button>

        </hgroup>
          <ul class="inline-list squeezed">
            
           <li><button>Add to Pod</button></li>
            <li><button>Invite to meeting</button></li>
            <li><button>Send message</button></li>
          </ul>
        </div>
      </div>

<div class="row entry member_entry">
        <div class="small-3 large-2 columns "><img class="circle" src="images/member6.jpg" /></div>
        <div class="small-9 large-10 columns">
         <hgroup class="meeting_info">
          <h5>Member 1<strong></strong><button class="goal_setting">MODERATING</button></h5>
          <p class="address"><strong>30 | M , Brooklyn, NY</strong></p>
          <p class="tags"><strong>Interests</strong>   <button class="tiny button secondary">music</button>
  <button class="tiny button secondary">art</button>
  <button class="tiny button secondary">computers</button>
  <button class="tiny button secondary">sports</button>

        </hgroup>
          <ul class="inline-list squeezed">
            
           <li><button>Add to Pod</button></li>
            <li><button>Invite to meeting</button></li>
            <li><button>Send message</button></li>
          </ul>
        </div>
      </div>


    </div>

    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 columns pull-6">
      <div class="panel">


      	<div class="row">
            <div class="small-6 large-12 columns"><h5 class="title"><img class="side_icon" src="images/buddypod.png"/>Members Like You</h5>
              <figure class="small-2 large-2 buddypod">
        <img ng-tap="$navigate.go('/profile', 'slide')" src="images/bigmickey.png" />
        <!--<figcaption>Big Mickey</figcaption>-->
      </figure>

         <figure class="small-2 large-2 buddypod">
        <img ng-tap="$navigate.go('/profile', 'slide')" src="images/samir.png" />
        <!--<figcaption>Samir C.</figcaption>-->
      </figure>

        <figure class="small-2 large-2 buddypod">
        <img  ng-tap="$navigate.go('/profile', 'slide')" src="images/tom.jpeg" />
        <!--<figcaption>Data Superhero</figcaption>-->
      </figure>

         <figure class="small-2 large-2 buddypod">
        <img  ng-tap="$navigate.go('/profile', 'slide')" src="images/twaits.png" />
        <!--<figcaption>T. Waits</figcaption>-->
      </figure>
      <figure class="small-2 large-2 buddypod">
        <img ng-tap="$navigate.go('/profile', 'slide')" src="images/bigmickey.png" />
        <!--<figcaption>Big Mickey</figcaption>-->
      </figure>

         <figure class="small-2 large-2 buddypod">
        <img ng-tap="$navigate.go('/profile', 'slide')" src="images/samir.png" />
        <!--<figcaption>Samir C.</figcaption>-->
      </figure>

        <figure class="small-2 large-2 buddypod">
        <img  ng-tap="$navigate.go('/profile', 'slide')" src="images/tom.jpeg" />
        <!--<figcaption>Data Superhero</figcaption>-->
      </figure>

         <figure class="small-2 large-2 buddypod">
        <img  ng-tap="$navigate.go('/profile', 'slide')" src="images/twaits.png" />
        <!--<figcaption>T. Waits</figcaption>-->
      </figure>
        <figure class="small-2 large-2 buddypod">
        <img ng-tap="$navigate.go('/profile', 'slide')" src="images/bigmickey.png" />
        <!--<figcaption>Big Mickey</figcaption>-->
      </figure>

         <figure class="small-2 large-2 buddypod">
        <img ng-tap="$navigate.go('/profile', 'slide')" src="images/samir.png" />
        <!--<figcaption>Samir C.</figcaption>-->
      </figure>

        <figure class="small-2 large-2 buddypod">
        <img  ng-tap="$navigate.go('/profile', 'slide')" src="images/tom.jpeg" />
        <!--<figcaption>Data Superhero</figcaption>-->
      </figure>

         <figure class="small-2 large-2 buddypod">
        <img  ng-tap="$navigate.go('/profile', 'slide')" src="images/twaits.png" />
        <!--<figcaption>T. Waits</figcaption>-->
      </figure>
          </div>
      </div>

      	          <div class="row">
            <div class="small-5 large-11 columns"><h5 class="title"><img class="side_icon" src="images/buddypod.png"/>Who's Nearby</h5>
        <figure class="small-2 large-2 buddypod">
        <img ng-tap="$navigate.go('/profile', 'slide')" src="images/bigmickey.png" />
        <!--<figcaption>Big Mickey</figcaption>-->
      </figure>

         <figure class="small-2 large-2 buddypod">
        <img ng-tap="$navigate.go('/profile', 'slide')" src="images/samir.png" />
        <!--<figcaption>Samir C.</figcaption>-->
      </figure>

        <figure class="small-2 large-2 buddypod">
        <img  ng-tap="$navigate.go('/profile', 'slide')" src="images/tom.jpeg" />
        <!--<figcaption>Data Superhero</figcaption>-->
      </figure>

         <figure class="small-2 large-2 buddypod">
        <img  ng-tap="$navigate.go('/profile', 'slide')" src="images/twaits.png" />
        <!--<figcaption>T. Waits</figcaption>-->
      </figure>
            </div>
        </div>

        <div class="row">
            <div class="small-5 large-11 columns"><h5 class="title"><img class="side_icon" src="images/buddypod.png"/>SOS Signals</h5>
        <figure class="small-2 large-2 buddypod">
        <img ng-tap="$navigate.go('/profile', 'slide')" src="images/bigmickey.png" />
        <!--<figcaption>Big Mickey</figcaption>-->
      </figure>

         <figure class="small-2 large-2 buddypod">
        <img ng-tap="$navigate.go('/profile', 'slide')" src="images/samir.png" />
        <!--<figcaption>Samir C.</figcaption>-->
      </figure>

        <figure class="small-2 large-2 buddypod">
        <img  ng-tap="$navigate.go('/profile', 'slide')" src="images/tom.jpeg" />
        <!--<figcaption>Data Superhero</figcaption>-->
      </figure>

         <figure class="small-2 large-2 buddypod">
        <img  ng-tap="$navigate.go('/profile', 'slide')" src="images/twaits.png" />
        <!--<figcaption>T. Waits</figcaption>-->
      </figure>
          </div>
      </div>
        
      </div>
    </div>
 
 
    <!-- Right Sidebar -->

<aside class="large-3 columns hide-for-small">
    <p><img src="images/pingpong_event.png" /></p>
  </aside>
    <!-- On small devices this column is hidden -->


  </div>


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; Twistor Labs inc, 2013</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li ng-tap="$navigate.go('/map', 'slide')"><a href="#">About Us</a><br/>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">For Investors</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


