<ng-include src="views.header"></ng-include>
<br/><br/>
<div class="panel row down">
 <input type="text" class="share_input" placeholder="share a book"/>
 <button type="submit" class="share_content">share</button>
</div>


<div class="row">
<ul><button ><li>Memoirs</li></button>
<button><li>Novels</li></button>
<button><li>Non-fiction</li></button>
</ul>
</div>

  <div class="row down">

    <div class="large-4 book columns">
      <div class="panel">
        <div class="small-3 large-4 book columns "><img class="book" class="book"src="images/the_science_of_addiction_book.png" /></div>
        <h3>The Science of Addiction- <i> Carlton K. Erickson</i></h3> 
        <h4>non-fiction</h4><div>
        <p>Neuroscience is clarifying the causes of compulsive alcohol and drug use––while also shedding light on what addiction is, what it is not, and how it can best be treated––in exciting and innovative ways. Current neurobiological research complements and enhances the approaches...</p>
      </div>
                 <ul class="inline-list squeezed">
            <li><a href="http://www.amazon.com/gp/product/0061120154/"><button>Amazon</button></a></li>
            <li><button>Online stores</button></li>
            <li><button>Library</button></li>
          </ul>

      </div>
    </div>


  <div class="large-4 book columns">
      <div class="panel">
        <div class="small-3 large-4 book columns "><img class="book" class="book"src="images/the_power_and_the_glory_book.png" /></div>
        <h3>The Power and The Glory- <i>Graham Greene</i></h3> 
        <h4>novel</h4><div>
        <p>The main character in the story is a nameless 'whisky priest', who combines a great power for self-destruction with pitiful cravenness, an almost painful penitence and a desperate quest for dignity.[citation needed] By the end, though, the priest "acquires a real holiness."</p>
      </div>
                 <ul class="inline-list squeezed">
            <li><a href="http://www.amazon.com/gp/product/0061120154/"><button>Amazon</button></a></li>
            <li><button>Online stores</button></li>
            <li><button>Library</button></li>
          </ul>

      </div>
    </div>


      <div class="large-4 book columns">
      <div class="panel">
        <div class="small-3 large-4 book columns "><img class="book" class="book"src="images/the_night_of_the_gun_book.png" /></div>
        <h3>The Night of The Gun- <i>David Carr</i></h3> 
        <h4>memoir</h4><div>
        <p>The gimmick was so obvious, it was remarkable that nobody had done it already: In writing the memoir of his addiction to alcohol and cocaine, David Carr utilized the same investigative techniques that he’d developed in his career as a journalist for The New York Times. It was a clever gambit, pointing at... </p>
      </div>
                 <ul class="inline-list squeezed">
            <li><a href="http://www.amazon.com/gp/product/0061120154/"><button>Amazon</button></a></li>
            <li><button>Online stores</button></li>
            <li><button>Library</button></li>
          </ul>

      </div>
    </div>

      <div class="large-4 book columns">
      <div class="panel">
        <div class="small-3 large-4 book columns "><img class="book" class="book"src="images/the_alcoholic_book.png" /></div>
        <h3>The Alcoholic- <i>Jonathan Ames</i></h3> 
        <h4>graphic novel</h4><div>
        <p>Acclaimed novelist and creator of HBO's new series "Bored to Death" Jonathan Ames writes his first comics work with the original graphic novel THE ALCOHOLIC, illustrated by THE QUITTER artist Dean Haspiel. This touching, compassionate, ultimately humorous story explores the heart of a failing writer who's coming off a doomed romance...</p>
      </div>
                 <ul class="inline-list squeezed">
            <li><a href="http://www.amazon.com/gp/product/0061120154/"><button>Amazon</button></a></li>
            <li><button>Online stores</button></li>
            <li><button>Library</button></li>
          </ul>

      </div>
    </div>

      <div class="large-4 book columns">
      <div class="panel">
        <div class="small-3 large-4 book columns "><img class="book" class="book"src="images/lit_book.png" /></div>
        <h3>Lit- <i>Mary Karr</i></h3> 
        <h4>Memoir</h4><div>
        <p>Mary Karr has been credited with launching the spate of confessional memoirs in the ‘90s with her now-seminal memoir, The Liars’ Club. The long-awaited book of her alcoholism, recovery, and subsequent conversion to Catholicism, Lit, is easily as mesmerizing as The Liars’ Club and its equally well-received follow-up, Cherry, even as it defies the conventional thematic unity...</p>
      </div>
                 <ul class="inline-list squeezed">
            <li><a href="http://www.amazon.com/gp/product/0061120154/"><button>Amazon</button></a></li>
            <li><button>Online stores</button></li>
            <li><button>Library</button></li>
          </ul>

      </div>
    </div>

      <div class="large-4 book columns">
      <div class="panel">
        <div class="small-3 large-4 book columns "><img class="book" class="book"src="images/bookondrugs_book.jpeg" /></div>
        <h3>The Book of Drugs- <i>Mike Doughty</i></h3> 
        <h4>Memoir</h4><div>
        <p>Mike Doughty first came to prominence as the leader of the band Soul Coughing then did an abrupt sonic left turn, much to the surprise of his audience, transforming into a solo performer of stark, dusky, but strangely hopeful tunes. He battled addiction, gave up fame when his old band was at the height of its popularity. His candid...</p>
      </div>
                 <ul class="inline-list squeezed">
            <li><a href="http://www.amazon.com/gp/product/0061120154/"><button>Amazon</button></a></li>
            <li><button>Online stores</button></li>
            <li><button>Library</button></li>
          </ul>

      </div>
    </div>
    <h5 style="visibility: hidden">d</h5>
<div>
      <div class="large-4 book columns">
      <div class="panel">

        <div class="small-3 large-4 book columns "><img class="book" class="book"src="images/jesus_son_book.png" /></div>
        <h3>Jesus' Son- <i>Denis Johnson</i></h3> 
        <h4>novel</h4><div>
        <p>The unnamed narrator in Jesus' Son lives through a car wreck and a heroin overdose. Is he blessed? He cheats, lies, steals--but possesses a child's (or a mystic's) uncanny way of expressing the bare essence of things around him. In its own strange and luminous way, this linked collection of short fiction does the same...</p>
      </div>
                 <ul class="inline-list squeezed">
            <li><a href="http://www.amazon.com/gp/product/0061120154/"><button>Amazon</button></a></li>
            <li><button>Online stores</button></li>
            <li><button>Library</button></li>
          </ul>

      </div>
    </div>

      <div class="large-4 book columns">
      <div class="panel">
        <div class="small-3 large-4 book columns "><img class="book" class="book"src="images/under_the_volcano_book.png" /></div>
        <h3>Under The Volcano- <i>Malcom Lowry</i> </h3> 
        <h4>novel</h4><div>
        <p>Geoffrey Firmin, a former British consul, has come to Quauhnahuac, Mexico. His debilitating malaise is drinking, an activity that has overshadowed his life. On the most fateful day of the consul's life—the Day of the Dead, 1938—his wife, Yvonne, arrives in Quauhnahuac, inspired by a vision of life together away from Mexico and the...</p>
      </div>
                 <ul class="inline-list squeezed">
            <li><a href="http://www.amazon.com/gp/product/0061120154/"><button>Amazon</button></a></li>
            <li><button>Online stores</button></li>
            <li><button>Library</button></li>
          </ul>

      </div>
    </div>  


    <div class="large-4 book columns">
      <div class="panel">
        <div class="small-3 large-4 book columns "><img class="book" class="book"src="images/portrait-of-an-addict-as-a-young-man.jpg" /></div>
        <h3>Portrait of an Addict as a Young Man- <i>Bill Clegg author</i></h3> 
        <h4>Memoir</h4><div>
        <p>Portrait of an Addict as a Young Man was released in 2010, well after the junkie memoir boom of the prior decade had already drawn to a close, but it still made a splash—due largely to Clegg’s high-profile role in the publishing world as a successful literary agent. The praise was not undeserved: Few books have...</p>
      </div>
                 <ul class="inline-list squeezed">
            <li><a href="http://www.amazon.com/gp/product/0061120154/"><button>Amazon</button></a></li>
            <li><button>Online stores</button></li>
            <li><button>Library</button></li>
          </ul>

      </div>
    </div>
 
  </div>
</div>

<br/>
<ng-include src="views.footer"></ng-include>
 
  <!-- End Grid Section -->