<ng-include src="views.header"></ng-include>

<section class="view signup">

<div class="row">
	<div class="large-6 columns">
<div class="bigdealcontainer">
<div class="words"><span class="word1">
I</span> <span class="word2">don't</span> <span class="word3">know</span> <span class="word4">if</span> <span class="word5">you</span> <span class="word6">know</span> <span class="word7">this,</span> <span class="word8">but...</span> <span class="word9">you</span> <span class="word10">are</span> <span class="word11">doing</span> <span class="word12">a</span> <span class="word13">great</span> <span class="word14">job!
</span> 

<img src="images/superhero.png"/></div>

</div>
</div>



<div class="large-6 columns panel">
	<h1>Sign Up</h1>
<form>
<input type="text" placeholder="make a username"/>
<input type="text" placeholder="email"/>
<input type="text" placeholder="password"/>

<h5>or connect with</h5>
<ul class="social_login">
	<li class="facebook"><img src="images/facebook.png"/></li>
	<li class="twitter"><img src="images/twitter.png"/></li>
</ul>

<p>And don't worry- no one will ever know!</p>
<div class="meta">
<p ng-tap="$navigate.go('/home', 'slide')"><button class="submit_simple">Let's get started!</button></p>
</div>
</form>
</div>



</div>

</section><ng-include src="views.footer"></ng-include>