<ng-include src="views.header"></ng-include>

  <div class="row info_head">
    <div class="large-12 columns sos_head">
      <div class="panel">
        
        <div class="row">
            <div class="small-2 large-3 columns"><img class="circle" ng-tap="$navigate.go('/profile', 'slide')" src="images/dontdrinkthat.gif" /></div>
            <div class="small-9 large-9 columns">
            	<h1>Stay Calm! We've all been here. Send out a signal and someone will be here for you so soon!</h1>
            <input type="text" class="sos" placeholder="care to tell us any details so people can understand your dilemma better? "/>
             <button type="submit" class="big sos_send">Send it out</button>
            </div>
           
	

          </div>


      </div>
    </div>
  </div>

  <!-- End Header and Nav -->

  <div class="row down">

 <!-- Nav Sidebar -->
        <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="panel large-6 columns push-3">


<div class="row member_entry">
        <div class="small-3 large-2 columns "><img class="circle dimensions" height="75" width="75" src="images/member1.jpg" /></div>
        <div class="small-9 large-10 columns">
          <p><strong>Boris .</strong>Rock Bottom: When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
          <ul class="inline-list squeezed">
            <li><button>Call</button></li>
           <li><button>Add to Pod</button></li>
            <li><button>Invite to meeting</button></li>
            <li><button>Send message</button></li>
          </ul>
        </div>
      </div>


<div class="row member_entry">
        <div class="small-3 large-2 columns "><img class="circle" src="images/member2.jpg" /></div>
        <div class="small-9 large-10 columns">
          <p><strong>Boris .</strong>Rock Bottom: When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
          <ul class="inline-list squeezed">
            <li><button>Call</button></li>
           <li><button>Add to Pod</button></li>
            <li><button>Invite to meeting</button></li>
            <li><button>Send message</button></li>
          </ul>
        </div>
      </div>


<div class="row member_entry">
        <div class="small-3 large-2 columns "><img class="circle" src="images/member3.jpg" /></div>
        <div class="small-9 large-10 columns">
          <p><strong>Boris .</strong>Rock Bottom: When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
          <ul class="inline-list squeezed">
            <li><button>Call</button></li>
           <li><button>Add to Pod</button></li>
            <li><button>Invite to meeting</button></li>
            <li><button>Send message</button></li>
          </ul>
        </div>
      </div>


<div class="row member_entry">
        <div class="small-3 large-2 columns "><img class="circle" src="images/member4.jpg" /></div>
        <div class="small-9 large-10 columns">
          <p><strong>Boris .</strong>Rock Bottom: When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
          <ul class="inline-list squeezed">
            <li><button>Call</button></li>
           <li><button>Add to Pod</button></li>
            <li><button>Invite to meeting</button></li>
            <li><button>Send message</button></li>
          </ul>
        </div>
      </div>

<div class="row member_entry">
        <div class="small-3 large-2 columns "><img class="circle" src="images/member5.jpg" /></div>
        <div class="small-9 large-10 columns">
          <p><strong>Boris .</strong>Rock Bottom: When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
          <ul class="inline-list squeezed">
            <li><button>Call</button></li>
           <li><button>Add to Pod</button></li>
            <li><button>Invite to meeting</button></li>
            <li><button>Send message</button></li>
          </ul>
        </div>
      </div>

<div class="row member_entry">
        <div class="small-3 large-2 columns "><img class="circle" src="images/member6.jpg" /></div>
        <div class="small-9 large-10 columns">
          <p><strong>Boris .</strong>Rock Bottom: When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
          <ul class="inline-list squeezed">
            <li><button>Call</button></li>
           <li><button>Add to Pod</button></li>
            <li><button>Invite to meeting</button></li>
            <li><button>Send message</button></li>
          </ul>
        </div>
      </div>


    </div>

    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 columns pull-6">
      <div class="panel">


      	<div class="row">
            <div class="small-5 large-11 columns"><strong>Reminders:</strong>
            	<p>When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
          </div>
      </div>

      	          <div class="row">
            <div class="small-5 large-11 columns"><strong>Tips:</strong>
            	<p>When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
            </div>
        </div>

        <div class="row">
            <div class="small-5 large-11 columns"><strong>Worst Case:</strong>
            	<p>When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
          </div>
      </div>

       <div class="row">
            <div class="small-5 large-11 columns"><strong>Best Case:</strong>
            	<p>When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
          </div>
      </div>

       <div class="row">
            <div class="small-5 large-11 columns"><strong>Social Icons:</strong>
            	<p></p>
          </div>
      </div>
        
        

      </div>
    </div>
 
 
    <!-- Right Sidebar -->

<aside class="panel large-3 columns hide-for-small">
  <h3>A Quote From The Pros</h3>
  <blockquote>
    When you begin, it's a man takes a drink. When you end up, it's a drink takes a man. Keeping my balance during that period was tricky. When I was in my twenties, I thought I was invincible, made out of rubber. You skate along the straight razor and flirt with it all the time. I've been sober now for nine years; the best thing I ever did apart from getting married. Was it hard to quit? No, the hard part was before I quit. This is the easy part."
    <blockquote>
      <p>-Tom Waits on soberity  <img src="images/twaits.png" class="small-2 circle "/></p>
  </aside>
    <!-- On small devices this column is hidden -->


  </div>


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; Twistor Labs inc, 2013</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li ng-tap="$navigate.go('/map', 'slide')"><a href="#">About Us</a><br/>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">For Investors</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


