<ng-include src="views.header"></ng-include>
<div class="panel row down">
 <input type="text" class="share_input" placeholder="share a video, copy url or upload one"/>
 <button type="submit" class="share_content">share</button>
</div>
  <div class="row down">

    <div class="large-4 columns">
      <div class="panel">
        <p>
          <iframe id="ytplayer" type="text/html" width="100%" height="315"
src="http://www.youtube.com/embed/ukFjH9odsXw?autohide=1&color=white&theme=light"
frameborder="0" allowfullscreen></iframe>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <iframe src="http://embed.ted.com/talks/joshua_walters_on_being_just_crazy_enough.html" width="100%" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <iframe src="http://player.vimeo.com/video/49348172" width="100%" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/49348172">DE&C Drug Prevention Strategy InfoGraphic Small</a> from <a href="http://vimeo.com/user8061769">Julie Duff</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
        </p>
      </div>
    </div>
 
  </div>
 
 
  <div class="row">
 
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <iframe src="http://player.vimeo.com/video/45683096?title=0&amp;byline=0&amp;portrait=0&amp;color=cfffea" width="100%" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/45683096">Protect Our Youth</a> from <a href="http://vimeo.com/combinationfilms">Combination Films</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
        </p>
      </div>
    </div>

    <div class="large-4 columns">
      <div class="panel">
        <p>
         <iframe src="http://player.vimeo.com/video/57469103" width="100%" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/57469103">The Financial Cost of Drug Addiction: Video Infographic</a> from <a href="http://vimeo.com/user15847891">Michelle Rebecca</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
        </p>
      </div>
    </div>

      <div class="large-4 columns">
      <div class="panel">
        <p>
          <iframe src="http://player.vimeo.com/video/43421525" width="100%" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/43421525">I Miss Drugs-Episode 1-"Almost There"</a> from <a href="http://vimeo.com/imissdrugs">I MISS DRUGS</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
        </p>
      </div>
    </div>
 
  </div>


  <div class="row">
 
    <div class="large-4 columns">
      <div class="panel">
        <p>    <iframe id="ytplayer" type="text/html" width="100%" height="315"
src="http://www.youtube.com/embed/6dNz-ld7nus?autohide=1&color=white&theme=light"
frameborder="0" allowfullscreen></iframe>

         
        </p>
      </div>
    </div>

    <div class="large-4 columns">
      <div class="panel">
        <p>
         <iframe id="ytplayer" type="text/html" width="100%" height="315"
src="http://www.youtube.com/embed/vkpz7xFTWJo?autohide=1&color=white&theme=light"
frameborder="0" allowfullscreen></iframe>
        </p>
      </div>
    </div>


      <div class="large-4 columns">
      <div class="panel">
        <p>
          <iframe id="ytplayer" type="text/html" width="100%" height="315"
src="http://youtube.com/embed/O_LHuII-jYQ?autohide=1&color=white&theme=light"
frameborder="0" allowfullscreen></iframe>
        </p>
      </div>
    </div>
 
  </div>
<ng-include src="views.footer"></ng-include>
 
  <!-- End Grid Section -->