<ng-include src="views.header"></ng-include>
<br/><br/>
<div class="panel row down">
 <input type="text" class="share_input" placeholder="share a video, copy url or upload one"/>
 <button type="submit" class="share_content">share</button>
</div>


<div class="row">
<ul><button ><li>Science</li></button>
<button><li>Music</li></button>
<button><li>Culture</li></button>
</ul>
</div>
  <div class="row down">
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <iframe id="ytplayer" type="text/html" width="100%" height="315"
src="http://www.youtube.com/embed/ukFjH9odsXw?autohide=1&color=white&theme=light"
frameborder="0" allowfullscreen></iframe>
Hank describes how our brains respond biochemically to addictive substances and behaviors and where those responses have come from, evolutionarily speaking. 
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <iframe src="http://embed.ted.com/talks/joshua_walters_on_being_just_crazy_enough.html" width="100%" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          Comedian Joshua Walters, who's bipolar, walks the line between mental illness and mental "skillness" in this funny, thought-provoking talk.
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <iframe src="http://player.vimeo.com/video/49348172" width="100%" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><a href="http://vimeo.com/49348172">DE&C Drug Prevention Strategy InfoGraphic Small</a> from <a href="http://vimeo.com/user8061769">Julie Duff</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
      
      </div>
    </div>
 
  </div>
 
 
  <div class="row">
 
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <iframe src="http://player.vimeo.com/video/45683096?title=0&amp;byline=0&amp;portrait=0&amp;color=cfffea" width="100%" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <a href="http://vimeo.com/45683096">Animation produced for YouthRISE highlighting the problems with the ineffective and dangerous international drug laws, and the need for decriminalization and policy reform.</p>
      </div>
    </div>

    <div class="large-4 columns">
      <div class="panel">
        <p>
         <iframe src="http://player.vimeo.com/video/57469103" width="100%" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/57469103">The Financial Cost of Drug Addiction: Video Infographic</a> from <a href="http://vimeo.com/user15847891">Michelle Rebecca</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
        </p>
      </div>
    </div>

      <div class="large-4 columns">
      <div class="panel">
        <p>
          <iframe src="http://player.vimeo.com/video/43421525" width="100%" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <a href="http://vimeo.com/43421525">I Miss Drugs-Episode 1-"Almost There"</a> from <a href="http://vimeo.com/imissdrugs">I MISS DRUGS</a> on <a href="http://vimeo.com">Vimeo</a>.Created by Nathaniel Boggess and Jason Eksuzian
Starring Nathaniel Boggess and Micki Grover.
        </p>
      </div>
    </div>
 
  </div>


  <div class="row">
 
    <div class="large-4 columns">
      <div class="panel">
        <p>    <iframe id="ytplayer" type="text/html" width="100%" height="315"
src="http://www.youtube.com/embed/6dNz-ld7nus?autohide=1&color=white&theme=light"
frameborder="0" allowfullscreen></iframe>A married couple whose bond is built on a mutual love of alcohol gets their relationship put to the test when the wife decides to get sober.

         
        </p>
      </div>
    </div>

    <div class="large-4 columns">
      <div class="panel">
        <p>
         <iframe id="ytplayer" type="text/html" width="100%" height="315"
src="http://www.youtube.com/embed/vkpz7xFTWJo?autohide=1&color=white&theme=light"
frameborder="0" allowfullscreen></iframe>
Understanding drunken stupor, from the brain's perspective. Find out how alcohol molecules alter your brain, resulting nights that you might remember. 
        </p>
      </div>
    </div>


      <div class="large-4 columns">
      <div class="panel">
        <p>
          <iframe id="ytplayer" type="text/html" width="100%" height="315"
src="http://youtube.com/embed/O_LHuII-jYQ?autohide=1&color=white&theme=light"
frameborder="0" allowfullscreen></iframe>Complete video of Russell Brand speaking to the Parliamentary Committee today. Video is from the Parliament Archive
        </p>
      </div>
    </div>
 
  </div>
<ng-include src="views.footer"></ng-include>
 
  <!-- End Grid Section -->