
<div class="row info_head">
 <div class="large-12 columns">
    <div class="panel member_head buddypod_head">

        <div class="row">
        
            <div class="small-9 large-9 columns">
                <h1 class="podhead">Congratulations! Here's your personal Buddy Pod, your daily crux of people like you to keep you stoked</h1>
 <input type="text" placeholder="send out your status to your group"/>
            </div>

               <div class="small-9 large-9 columns">
                       
                        <button class="tiny">High five</button>
                        <button class="tiny">Invite to meeting</button>
                        <button class="tiny">Group chat</button>
                        <button class="bp_send">send</button>

</div>


        </div>
    </div>
</div>

<!-- End Header and Nav -->

<div class="row down">

<!-- Nav Sidebar -->
<!-- Main Feed -->
<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
<div class="panel large-9 columns push-3">

<div class="row entry member_entry">
        <div class="small-3 large-2 columns "><img class="circle" src="images/member5.jpg" /></div>
        
        <div class="small-9 large-6 columns">
            <hgroup class="meeting_info">
                <h4>Princess L. <strong></strong> <button class="goal_setting">abstaining: alcohol</button><button class="goal_setting">MODERATING: SEX</button></h4>
                <p class="address"><strong>30 | F , Outerspace</strong></p>
                <p class="tags"><strong>Interests</strong>   <button class="tiny button secondary">music</button>
                    <button class="tiny button secondary">art</button>
                    <button class="tiny button secondary">computers</button>
                    <button class="tiny button secondary">sports</button>

            </hgroup>
            <ul class="inline-list squeezed push">

                <li><button >high five</button></li>
                <li><button>Invite to meeting</button></li>
                <li><button>Send message</button></li>
            </ul>
        </div>
<div class="small-9 large-4 columns status">
            “What worries me is, what if this guy is really the one for me and I just haven't had enough therapy yet for me to be comfortable with having found him.” 
        </div>

    </div>
<div class="row entry member_entry">
        <div class="small-3 large-2 columns "><img class="circle" src="images/slj.jpeg" /></div>
        <div class="small-9 large-6 columns">
            <h4>BADASS MOTHERF#*K!R<strong></strong><button class="goal_setting">MODERATING: beer</button></h4>
            <p class="address"><strong>50 | M , Brooklyn, NY</strong></p>
            <p class="tags"><strong>Interests</strong>   <button class="tiny button secondary">music</button>
                <button class="tiny button secondary">art</button>
                <button class="tiny button secondary">computers</button>
                <button class="tiny button secondary">sports</button>

                </hgroup>
            <ul class="inline-list squeezed push">

                <li><button>high five</button></li>
                <li><button>Invite to meeting</button></li>
                <li><button>Send message</button></li>
            </ul>
        </div>

        <div class="small-9 large-4 columns status">
            “I haven't had a drug dream in 10 years. All of a sudden, I had one 2 weeks ago. Even in the dream, you're hiding shit from people! They pop up in the dream and you got this big-ass ball of cocaine...” 
        </div>
    </div>


    <div class="row entry member_entry">
        <div class="small-3 large-2 columns "><img class="circle" src="images/twaits.png" /></div>
        <div class="small-9 large-6 columns">
            <h4>Tom Waits<strong></strong><button class="goal_setting">MODERATING: alcohol</button></h4>
            <p class="address"><strong>65 | M , Omnipresent</strong></p>
            <p class="tags"><strong>Interests</strong>   <button class="tiny button secondary">music</button>
                <button class="tiny button secondary">art</button>
                <button class="tiny button secondary">trains</button>
                <button class="tiny button secondary">insects</button>

                </hgroup>
            <ul class="inline-list squeezed push">

                <li><button>high five</button></li>
                <li><button>Invite to meeting</button></li>
                <li><button>Send message</button></li>
            </ul>
        </div>

        <div class="small-9 large-4 columns status">
            “I'm happy to be sober. Happy to be alive. I found myself in some places I can't believe I made it out of alive. People with guns. People with gunshot wounds. People with heavy drug problems. People who carried guns...” 
        </div>
    </div>


    <div class="row entry member_entry">
        <div class="small-3 large-2 columns "><img class="circle" src="images/ironman.jpg" /></div>
        <div class="small-9 large-6 columns">
            <hgroup class="meeting_info">
                <h4>Iron Man<strong></strong><button class="goal_setting">abstaining: alcohol</button><button class="goal_setting">MODERATING: emotions</button></h4>
                <p class="address"><strong>30 | M , Brooklyn, NY</strong></p>
                <p class="tags"><strong>Interests</strong>   <button class="tiny button secondary">music</button>
                    <button class="tiny button secondary">art</button>
                    <button class="tiny button secondary">computers</button>
                    <button class="tiny button secondary">sports</button>

            </hgroup>
            <ul class="inline-list squeezed push">

                <li><button>high five</button></li>
                <li><button>Invite to meeting</button></li>
                <li><button>Send message</button></li>
            </ul>
        </div>

        <div class="small-9 large-4 columns status">
            “I am someone who has no desire, use for or conscious memory of that life. Yet I don't shut the door on it or pretend it didn't happen...I have this sense that I’m a veteran of a war that is difficult to discuss those who haven’t been there.” 
        </div>
    </div>



    




</div>

<!-- This is source ordered to be pulled to the left on larger screens -->
<div class="large-3 columns pull-9 side_bar buddypodside">
    <div class="panel">
        <div class="row">    <div class="small-6 large-11 columns"><img  src="images/friends.jpg" /></div>
            <div class="row">
                <hr/>
                
                <div class="small-5 large-11 columns">
                    <h4>About Buddy Pods</h4>
                    <p>We hope you'll find core support with these people..they are your lifeline. Check in everyday to stay in loop</p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="small-5 large-11 columns"><h4>Meeting up</h4>
                    <p>We strongly encourage meeting in person once a week to strengthen the pod relationship. If all members attend an <a href="">Addicaid Event</a> together, you get in for free!</p>
                </div>
            </div>
            <hr/>
           
            </div>

    </div>
</div>


<!-- Right Sidebar -->


<!-- On small devices this column is hidden -->


</div>

