<div class="row info_head">
    <div class="large-12 columns">
        <div class="panel">

            <div class="row">
                <div class="small-5 large-2 columns"><img class="circle" ng-tap="$navigate.go('/profile', 'slide')" src="images/bigmickey.png" /></div>
                <div class="small-9 large-3 columns">
                    <h2>Big Mickey</h2>
                    <h1>30 | Male</h1>
                    <h3>1 mile from you</h3>
                    <h4>420,000 points</h4>

                </div>

                <div class="small-9 large-3 columns">
                    <h3><strong>Abstaining:</strong> Drugs & Alchol</h3>
                    <h3><strong>Moderating:</strong> Cigarettes</h3>

                </div>


                <div class="small-9 large-3 columns">
                    <button class="medium button secondary">Check In</button><br/><button class="medium button secondary">Call</button><br/>
                    <button class="medium button secondary">Invite to Meeting</button><br/>
                    <button class="medium button secondary">Message</button>

                </div>



            </div>


        </div>
    </div>
</div>


<div class="row info_head">
    <div class="large-12 columns">
        <div class="panel">

            <div class="row">
                <div class="small-5 large-2 columns"><img class="circle" ng-tap="$navigate.go('/profile', 'slide')" src="images/samir.png" /></div>
                <div class="small-9 large-3 columns">
                    <h2>S. Chugh</h2>
                    <h1>28 | Male</h1>
                    <h3>3.2 miles from you</h3>
                    <h4>20,000 points</h3>

                </div>

                <div class="small-9 large-3 columns">
                    <h3><strong>Moderating:</strong> Alcohol, pot, cigarettes</h3>

                </div>


                <div class="small-9 large-3 columns">
                    <button class="medium button secondary">Check In</button><br/><button class="medium button secondary">Call</button><br/>
                    <button class="medium button secondary">Invite to Meeting</button><br/>
                    <button class="medium button secondary">Message</button>

                </div>



            </div>


        </div>
    </div>
</div>


<div class="row info_head">
    <div class="large-12 columns">
        <div class="panel">

            <div class="row">
                <div class="small-5 large-2 columns"><img class="circle" ng-tap="$navigate.go('/profile', 'slide')" src="images/tom.jpeg" /></div>
                <div class="small-9 large-3 columns">
                    <h2>Data_Superhero</h2>
                    <h1>22 | Male</h1>
                    <h3>10.4 miles from you</h3>
                    <h4>420,000 points</h3>

                </div>

                <div class="small-9 large-3 columns">
                    <h3><strong>Moderating:</strong> Alcohol</h3>
                    <h3><strong>Abstaining:</strong> Pot, Cigarettes</h3>
                </div>


                <div class="small-9 large-3 columns">
                    <button class="medium button secondary">Check In</button><br/><button class="medium button secondary">Call</button><br/>
                    <button class="medium button secondary">Invite to Meeting</button><br/>
                    <button class="medium button secondary">Message</button>

                </div>



            </div>


        </div>
    </div>
</div>

<div class="row info_head">
    <div class="large-12 columns">
        <div class="panel">

            <div class="row">
                <div class="small-5 large-2 columns"><img class="circle" ng-tap="$navigate.go('/profile', 'slide')" src="images/twaits.png" /></div>
                <div class="small-9 large-3 columns">
                    <h2>T. Waits</h2>
                    <h1>64 | Male</h1>
                    <h3>342 miles from you</h3>
                    <h4>7,390,000 points</h3>

                </div>

                <div class="small-9 large-3 columns">

                    <h3><strong>Abstaining:</strong>Drugs, Alcohol, and Cigarettes</h3>
                </div>


                <div class="small-9 large-3 columns">
                    <button class="medium button secondary">Check In</button><br/><button class="medium button secondary">Call</button><br/>
                    <button class="medium button secondary">Invite to Meeting</button><br/>
                    <button class="medium button secondary">Message</button>

                </div>



            </div>


        </div>
    </div>
</div>

