
<div class="row info_head">
    <div class="large-12 columns ">
        <div class="panel event_head">

            <div class="row">
               
                <div class="small-9 large-9 columns">
                    <h1>Next Meeting: Pizza Party</h1>
                    <h3>Thursday May 2nd 9PM</h3>
                    <h4>New York Observatory</h4>
                    <p>Yes it can all be yours, we will have be offering a great dart board to practice your markmenship with and gluten-free options.</p>



                    <ul class="inline-list squeezed">

                        <li><button>Attend</button></li>
                        <li><button>Invite People</button></li>
                        <li><button>Share</button></li>
                    </ul>


                </div>
                <!--
                <div class="small-9 large-3 columns">
                    <h4>$10</h4>
                    <h4>Hot chocolate and a star map!</h4>
-->

                </div>

            </div>
        </div>
    </div>

    <!-- End Header and Nav -->

    <div class="row down">

        <!-- Nav Sidebar -->
        <!-- Main Feed -->
        <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
        <div class="panel large-6 columns push-3">
            <h2>Upcoming Events</h2>

            <div class="row entry member_entry">
                <div class="small-3 large-2 columns "><img class="circle dimensions" height="75" width="75" src="images/song_share_event.jpg" /></div>
                <div class="small-9 large-10 columns">
                    <hgroup class="meeting_info">
                        <h4>Song sharing night</h4>
                        <p>Serenade your fellows with this once in a week opportunity to hone your pipes and tunes your strings while cleansing your soul.<br/>
                            <strong>free recorder and pizza!</strong></p>
                    </hgroup>
                    <ul class="inline-list squeezed">


                        <li><button>Attend</button></li>
                        <li><button>Invite People</button></li>
                        <li><button>Share</button></li>
                        <button class="goal_setting price">$10</button>

                    </ul>
                </div>
            </div>


            <div class="row entry member_entry">
                <div class="small-3 large-2 columns "><img class="circle dimensions" height="75" width="75" src="images/ui_event.png" /></div>
                <div class="small-9 large-10 columns">
                    <hgroup class="meeting_info">
                        <h4>Intro to web design</h4>
                        <p> we will in this cource easily elucidate the ins and outs of how to build a click-aroundable website. Walk away with a free trial of <strong>awesome software</strong> and your own website!</p>
                    </hgroup>
                    <ul class="inline-list squeezed">

                        <li><button>Attend</button></li>
                        <li><button>Invite People</button></li>
                        <li><button>Share</button></li>
                        <button class="goal_setting price">$20</button>
                    </ul>
                </div>
            </div>
            <div class="row entry dd_entry">
                <div class="small-3 large-2 columns"><img class="circle" src="images/picnic_event.png" /></div>
                <div class="small-9 large-10 columns">
                    <h4>Picnic Brunch</h4>
                    <p>What more is there to say? We'll bring the juice and cheese and you can bring the hacky sacks, frisbees, and whatever other paraphenilia gets you going.
                    <ul class="inline-list squeezed">

                        <li><button>Attend</button></li>
                        <li><button>Invite People</button></li>
                        <li><button>Share</button></li>
                        <button class="goal_setting price">$15</button>
                    </ul>


                </div>

            </div>
            <h2>Past Events</h2>
            <div class="row entry member_entry">
                <div class="small-3 large-2 columns "><img class="circle" src="images/rubix_event.jpg" /></div>
                <div class="small-9 large-10 columns">
                    <hgroup class="meeting_info">
                        <h4>How To Solve A  Rubix Cube</strong></h4>
                        <p>Did you ever wonder how those titans did it? Well it's just memorization....or we, could throw a zinger in there and say it's <i>working the steps...</i></p>
                    </hgroup>
                    <ul class="inline-list squeezed">

                        <li><button>Attend</button></li>
                        <li><button>Invite People</button></li>
                        <li><button>Share</button></li>
                        <button class="goal_setting price">$10</button>
                    </ul>
                </div>
            </div>



        </div>

        <!-- This is source ordered to be pulled to the left on larger screens -->
        <div class="large-3 columns pull-6 side_bar">
            <div class="panel ">

                 <div class="small-2 large-11 columns"><img  ng-tap="$navigate.go('/profile', 'slide')" src="images/astronomy_event.jpg" /></div>

                <div class="row">
<br/>
                    <div class="small-5 large-11 columns"> <hr/>
                         <h3>About Addicaid Events</h3>
                        <p>These get togethers are here to help us get a new, active lifestyle that excites us and keeps us growing while meeting people like us. They are all free for the first hour of sharing session, and have a fee for the activity, where you always get some swag.</p>
                    </div>
                </div>




            </div>
        </div>


        <!-- Right Sidebar -->

        <aside class="large-3 columns hide-for-small">
            <p class="ad"><img src="images/pingpong_event.png" />23 people are going! <strong>Join in!</strong></p>
        </aside>
        <!-- On small devices this column is hidden -->


    </div>

</div>