<!-- This was the old footer from mobile proj -->
<!--<nav>-->
    <!--<ul class="bottom">-->
        <!--<li class="grid-3 map" ng-tap="$navigate.go('/map', 'slide')"><img src="images/map_icon.png"><br/>map</li>-->
        <!--<li class="grid-3 " ng-tap="$navigate.go('/filter', 'slide')"><img src="images/search_icon.png"><br/>search</li>-->
        <!--<li class="grid-3 saved" ng-tap="$navigate.go('/meetingListFavorites', 'slide')"><img src="images/save_icon.png"><br/>saved</li>-->
        <!--<li class="grid-3 rate" ng-tap="$navigate.go('/rate', 'slide')"><img src="images/rate_icon.png"><br/>rate</li>-->
    <!--</ul>-->
<!--</nav>-->


<footer class="row">

    <nav>
    <ul>
<li>

<a class="social twitter_link" target="_blank" href="https://twitter.com/addicaid">@addicaid</a>
        
</li>
<li>
    <a class="social facebook_link" target="_blank" href="https://www.facebook.com/addicaid">like us</a>
</li>
</nav>
</ul>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


    &copy; 2013 Twistor Labs inc. 
    if you want to be a part of it, or get a nice message email us at <a href="mailto:info@addicaid.com">info@addicaid.com</a>

</footer>