<!-- This was the old footer from mobile proj -->
<!--<nav>-->
    <!--<ul class="bottom">-->
        <!--<li class="grid-3 map" ng-tap="$navigate.go('/map', 'slide')"><img src="images/map_icon.png"><br/>map</li>-->
        <!--<li class="grid-3 " ng-tap="$navigate.go('/filter', 'slide')"><img src="images/search_icon.png"><br/>search</li>-->
        <!--<li class="grid-3 saved" ng-tap="$navigate.go('/meetingListFavorites', 'slide')"><img src="images/save_icon.png"><br/>saved</li>-->
        <!--<li class="grid-3 rate" ng-tap="$navigate.go('/rate', 'slide')"><img src="images/rate_icon.png"><br/>rate</li>-->
    <!--</ul>-->
<!--</nav>-->


<footer class="row">
    <div class="large-12 columns">

        <div class="row">
            <div class="large-5 columns"  style="text-align: center; color: white">
                <p style="text-align: center; color: white">&copy; Twistor Labs inc, 2013</p>
            </div>
            <div class="large-7 columns">
                <ul class="inline-list right"  style="text-align: center; color: white">
                    <li ng-tap="$navigate.go('/map', 'slide')">About Us<br/>
                    <li >Careers</li>
                    <li>Team</li>
                    <li>For Investors</li>

                </ul>
            </div>
        </div>
    </div>
</footer>