<div class="row hiding">
    <div class="large-12 columns">
        <div class="panel">
            <h1>Feed Template</h1>
        </div>
    </div>
</div>

<!-- End Header and Nav -->
<div class="row">


<!-- Nav Sidebar -->
<!-- Main Feed -->
<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
<div class="panel large-6 columns push-3">
    <!-- Feed Entry -->
    <div class="row entry dq_entry">
        
        <div class="small-9 large-11 columns">
            <h5><strong>Daily Question!</strong>If a genie said he will give you anything you wanted as long as you kept your recovery goals forever, what would you do?</h5>
            <input type="text" class="daily_question" placeholder="And you can't say 'I wish I didn't abuse drugs and could do them for fun!'"/>
        </div>
    </div>
    <!-- End Feed Entry -->

    <div class="row entry member_entry">
        <article class="grids grid-12 meeting_entry">

            <div class="small-3 large-2 columns "><img class="circle" src="images/dimitri.jpg" /></div>
            <div class="small-9 large-10 columns">
                <h6><strong>Dimitri V.</strong> just  answered his <strong>Rock Bottom</strong></h6><p>When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
                <ul class="inline-list">
                    <li><button>Add to Pod</button></li>
                    <li><button>Invite to meeting</button></li>
                    <li><button>Send message</button></li>
                </ul>
            </div>
    </div>

    <!-- Feed Entry -->
    <div class="row entry dd_entry">
        <div class="small-3 large-2 columns feed_icon"><img class="circle " src="images/dailydose_icon.png" /></div>
        <div class="small-9 large-10 columns">
            <h5><strong>Daily Dose: </strong>What would be the best thing in recovery?</h5>
            <ul class="inline-list word_options">
                <li><button>Serenity</button></li>
                <li><button ng-tap="toggleFavorite(meeting)">Professional Success</button></li>
                <li><button>Soberity</button></li>
                <li><button>Safely Party</button></li>
                <li><button>Get supportive friends</button></li>
                <li><input type="text" placeholder="something else"></li>
            </ul>

            <button>share</button>
            <button>keep secret</button>
        </div>

    </div>
    <!-- End Feed Entry -->
    <div class="row entry news_entry">

        <div class="small-3 large-2 columns feed_icon"><img class="circle " src="images/video_icon.png" /></div>
        <div class="small-9 large-10 columns ">
            <iframe src="http://embed.ted.com/talks/dan_pallotta_the_way_we_think_about_charity_is_dead_wrong.html" width="100%" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <p>Activist and fundraiser Dan Pallotta calls out the double standard that drives our broken relationship to charities. </p>
            <ul class="inline-list">
                <li><a href="http://www.amazon.com/gp/product/0061120154/"><button>Share</button></a></li>
                <li><button>Favorite</button></li>
            </ul>


            <h6>1 Comment</h6>
            <input type="text" class="comment" placeholder="what did you think of it?"/>
            <div class="row">
                <div class="small-3 large-2 columns"><img class="circle small" src="images/member4.jpg" /></div>
                <div class="small-9 large-10 columns"><p>The notion that charities should be able to invest in fundraising activities seems so obvious that we might wonder what regulators are thinking in restricting such activity. To suppose it is a Puritan heritage....</p></div>
                <button>read all</button>
            </div>


        </div>
    </div>


    <!-- Feed Entry -->
    <div class="row entry news_entry">
        <a href="http://well.blogs.nytimes.com/2013/02/04/effective-addiction-treatment/">
            <div class="small-3 large-2 columns feed_icon"><img class="circle " src="images/news_icon.png" /></div>
            <div class="small-9 large-10 columns ">
                <p><strong>Effective Addiction Treatment:</strong>Recent groundbreaking findings that (surprise!) addiction needs a new kind of treatment method due to lack of success.</p>
                <ul class="inline-list">
                    <li><button>Share</button></li>
                    <li><button>Favorite</button></li>
                </ul>


                <h6>2 Comments</h6>
                <div class="row">
                    <div class="small-3 large-2 columns"><img class="circle small" src="images/member2.jpg" /></div>
                    <div class="small-9 large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
                </div>
            </div>
        </a>
    </div>
    <!-- End Feed Entry -->

    <div class="row entry meeting_entry">

        <div class="small-3 large-2 columns feed_icon "><img class="circle " src="images/meeting_icon.png" /></div>
        <div class="small-9 large-10 columns">
            <hgroup class="meeting_info">
                <h4>NA: <strong>Hope Without Dope (Urban Life Center)</strong></h4>
                <p class="address"><strong>1135 O'Farrell St San Francisco, CA 94109</strong>, 56 members</p>
                <p class="tags"><strong>Tags:</strong> Young People, Snacks + Coffee, Great Venue, Fellowship</p>
            </hgroup>
            <ul class="inline-list squeezed">
                <li><button>Join</button></li>
                <li><button>Calendar</button></li>
                <li><button>Directions</button></li>
                <li><button>Share</button></li>
                <li><button>Invite</button></li>
            </ul>

        </div>
    </div>
    <!-- End Feed Entry -->



    <!-- Feed Entry -->
    <div class="row entry book_entry">
        <div class="small-3 large-2 columns feed_icon"><img class="circle " src="images/books.png" /></div>
        <div class="small-9 large-10 columns">
            <p><strong>Under The Volcano</strong>by Malcom Lowry: Geoffrey Firmin, a former British consul, has come to Quauhnahuac, Mexico. His debilitating malaise is drinking, an activity that has overshadowed his life. On the most fateful day</p>
            <ul class="inline-list">
                <li><a href="http://www.amazon.com/gp/product/0061120154/"><button>Amazon</button></a></li>
                <li><button>Online stores</button></li>
                <li><button>Library</button></li>
            </ul>
        </div>
    </div>
    <!-- End Feed Entry -->



    <!-- Feed Entry -->
    <div class="row entry">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:4RjvJrkTa7gYOvk5tm94YW" width="95%" height="80" frameborder="0" allowtransparency="true"></iframe>
    </div>
    <!-- End Feed Entry -->



    <!-- Feed Entry -->
    <div class="row entry social_entry">
        <div class="small-3 large-2 columns"><img class="circle" src="images/bender.jpg" /></div>
        <div class="small-9 large-10 columns">
            <p><strong>Bender Bending Rodríguez</strong> just joined <strong>Robot Addicts</strong> meeting on <strong>Tuesdays at 4PM.<strong></p>
            <hgroup>
                <p class="address"><strong>1135 O'Farrell St San Francisco, CA 94109</strong>, 56 members</p>
                <p class="tags"><strong>Tags:</strong> Young People, Snacks + Coffee, Great Venue, Fellowship</p>
            </hgroup>
            <ul class="inline-list squeezed">
                <li><button>Join</button></li>
                <li><button>Calendar</button></li>
                <li><button>Directions</button></li>
                <li><button>Share</button></li>
                <li><button>Invite</button></li>
            </ul>
        </div>
    </div>
    <!-- End Feed Entry -->


</div>

<!-- This is source ordered to be pulled to the left on larger screens -->
<div class="large-3 columns pull-6">
    <div class="panel">
        <div class="row your_panel">
            <a href="#/profile" ng-tap="$navigate.go('/profile', 'slide')"><div class="small-5 large-5 columns"><img class="circle" src="images/samf.jpg" /></div>
                <div class="small-9 large-7 columns" ><h3>Sam Frons</h3></a>
            <a href="#"><h6><img class="side_icon" src="images/edit_icon.png"/>Edit profile</h6></a></div>
    </div>

    <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">

        <section class="section">
            <a href="#/buddypod" ng-tap="$navigate.go('/buddyPod', 'slide')"><h5 class="title"><img class="side_icon" src="images/buddypod.png"/>Your Pod</h5></a>
            <figure class="small-2 large-2 buddypod">
                <span data-tooltip class="has-tip" title="Big Mickey"><img ng-tap="$navigate.go('/profile', 'slide')" src="images/bigmickey.png" /></span>
                <!--<figcaption>Big Mickey</figcaption>-->
            </figure>

            <figure class="small-2 large-2 buddypod">
        <span data-tooltip class="has-tip" title="S. Chugh"><img ng-tap="$navigate.go('/profile', 'slide')" src="images/samir.png" />
        </span><!--<figcaption>Samir C.</figcaption>-->
            </figure>

            <figure class="small-2 large-2 buddypod">
          <span data-tooltip class="has-tip" title="Data_Superhero">
        <img  ng-tap="$navigate.go('/profile', 'slide')" src="images/tom.jpeg" /></span>
                <!--<figcaption>Data Superhero</figcaption>-->
            </figure>

            <figure class="small-2 large-2 buddypod">
          <span data-tooltip class="has-tip" title="Tom Waits">
        <img  ng-tap="$navigate.go('/profile', 'slide')" src="images/twaits.png" />
      </span>
                <!--<figcaption>T. Waits</figcaption>-->
            </figure>

        </section>
        <section class="section closer">
            <h5 class="title"  ng-tap="$navigate.go('/map', 'slide')"><img class="side_icon" src="images/meeting_icon.png"/>Meetings</h5>
        </section>
        <section class="section closer">
            <h5 class="title" ng-tap="$navigate.go('/members', 'slide')"><img class="side_icon" src="images/social.png"/>Members</h5>
        </section>
        <section class="section closer">
            <h5 class="title" ng-tap="$navigate.go('/dailyDose', 'slide')"><img class="side_icon" src="images/dailydose_icon.png"/>Daily Dose</h5>
        </section>
        <section class="section closer">
            <h5 class="title" ng-tap="$navigate.go('/news', 'slide')"><img class="side_icon" src="images/news_icon.png"/>News</h5>
        </section>
        <section class="section closer">
            <h5 class="title" ng-tap="$navigate.go('/professionalHelp', 'slide')"><img class="side_icon" src="images/professional.png"/>Professional Help</h5>
        </section>
        <section class="section closer">
            <h5 class="title" ng-tap="$navigate.go('/music', 'slide')"><img class="side_icon" src="images/music_icon.png"/>Music</h5>
        </section>

        <section class="section closer">
            <h5 class="title" ng-tap="$navigate.go('/video', 'slide')"><img class="side_icon" src="images/video_icon.png"/>Video</h5>
        </section>

        <section class="section closer">
            <h5 class="title" ng-tap="$navigate.go('/reading', 'slide')"><img class="side_icon" src="images/books.png"/>Reading</h5>
        </section>
    </div>

</div>
<h5 class="sos_alert" ng-tap="$navigate.go('/signalSOS', 'slide')">SOS ALERT <span class="sos_number">6</span></h5>
</div>


<!-- Right Sidebar -->
<!-- On small devices this column is hidden -->
<aside class="large-3 columns hide-for-small">
    <p class="ad"><img class="ad" src="images/fencing_ad.jpg" />7 members redeemed this. 7% discounted</p><br/>
    <p class="ad"><img class="ad" src="images/therapy_ad.jpg" />14 members redeemed this. 14% discounted</p>
</aside>



