<section class="view signup">

    <div class="row login">
        <div class="large-6 columns">
            <div class="bigdealcontainer">
                <div class="words"><h2><span class="word1">
I</span> <span class="word2">don't</span> <span class="word3">know</span> <span class="word4">if</span> <span class="word5">you</span> <span class="word6">know</span> <span class="word7">this,</span> <span class="word8">but...<br/></h2></span> <span class="word9">you</span> <span class="word10">are</span> <span class="word11">doing</span> <span class="word12">a</span> <span class="word13">great</span> <span class="word14">job!
</span>

                    <span class="last-animation"><img  src="images/superhero.png"/></span></div>

            </div>
        </div>



      <div class="large-6 columns panel carouselbox">
        <carousel>
          <slide active="slides[0].active">
            <!-- sign up screen 1 -->
            <article class="signup_box">
              <h1>Sign Up</h1><br/>
              <form>
                <input type="text" placeholder="make a username"/>
                <input type="text" placeholder="email"/>
                <input type="text" placeholder="password"/>

                <h5>or connect with</h5>
                <ul class="social_login">
                  <li class="facebook"><img src="images/facebook.png"/></li>
                  <li class="twitter"><img src="images/twitter.png"/></li>
                </ul>

                <p>And don't worry- no one will ever know!</p>
                <div class="meta">
            
                </div>
              </form>
            </article>
          </slide>

          <slide active="slides[1].active">
            <!-- sign up screen 2 member (a) or healthcare (b) provider box -->
            <article class="signup_box">
              <h1>Why are you here?</h1><br/><br/>
              
              <form class="why">
                <ul>

                  <li> <button class="why_here">I need help</button></li><br/>
                  <li><button class="why_here">I can help</button></li>
                </ul>
                <p ng-tap="$navigate.go('/home', 'slide')"><button class="submit_simple">next</button></p>
              </form>
            </article>
          </slide>

          <slide active="slides[2].active">
            <!-- sign up screen 3b healthcare details-->
            <article class="signup_box">
            <h1>For professional help</h1>  <form>
              <h1>I am a <div class="styled-select">
                <select id="customDropdown1" class="medium">
                  <option value="" selected="selected">therapist</option>
                  <option value="" selected="selected">something else?</option>
                  <option value="" selected="selected">in patient center</option>
                  <option value="" selected="selected">out patient center</option>

                </select>
              </div><br/>
              <h1>located in <input type='text' class="zipcode" placeholder="zipcode"/>
</h1> 
              </h1>
              <br/><br/>
              <p ng-tap="$navigate.go('/home', 'slide')"><button class="submit_simple">next</button></p>
            </form>
            </article>
          </slide>


          <slide active="slides[3].active">
            <!-- sign up screen 3a member goal settings -->
            <article class="signup_box">
              <h1>Recovery Goals</h1><br/><br/>
              <form>
                <h4>I am <div class="styled-select">
                  <select id="customDropdown1" class="medium">
                    <option value="" selected="selected">Moderating</option>
                    <option value="" selected="selected">Abstaining</option>
                  </select>
                </div><br/><br/> from


                  <div class="styled-select">
                    <select id="customDropdown1" class="medium">
                      <option value="" selected="selected">Alcohol</option>
                      <option value="" selected="selected">Pot</option>
                      <option value="" selected="selected">Cocaine</option>
                      <option value="" selected="selected">Pills</option>
                      <option value="" selected="selected">Heroin|Opiates</option>
                      <option value="" selected="selected">Crack</option>
                      <option value="" selected="selected">MDMA | LSD</option>
                    </select>
                  </div> </h4>
                <button> add another</button>
                <p ng-tap="$navigate.go('/home', 'slide')"><button class="submit_simple">next</button></p>
              </form>
            </article>
          </slide>


          <slide active="slides[4].active">
            <!-- sign up screen 4a member basic info (some should be filled in already if they connected via fbook) -->
            <article class="signup_box">
              <h1>Personal Info</h1><br/>
              <form>
                <h1>I am<input type="text" class="age"placeholder="#"/> years old</h1>
                  <div class="styled-select gender">
                    <select id="customDropdown1" class="medium ">
                      <option value="" selected="selected">male</option>
                      <option value="" selected="selected">other</option>
                      <option value="" selected="selected">female</option>
                    </select>
                  </div><h1> living around <input class="zipcode"type="text" placeholder="zipcode"/></h1>
              </form>
            </article>
          </slide>

          <slide active="slides[5].active">
            <!-- sign up screen 5a member interests -->
            <article class="signup_box">
              <h1>your interests</h1><br/>
              <form>
                <button class="button secondary">music</button>
                <button class="button secondary">art</button>
                <button class="button secondary">computers</button>
                <button class="button secondary">sports</button>
                <button class="button secondary">music</button>
                <button class="button secondary">art</button>
                <button class="button secondary">computers</button>
                <button class="button secondary">sports</button>
                <input type="text" placeholder="other"/>
                <p ng-tap="$navigate.go('/home', 'slide')"><button class="submit_simple">next</button></p>
              </form>
            </article>
          </slide>

          <slide active="slides[6].active">
            <!-- sign up screen 6a member rock bottom/ moment of clarity -->
            <article class="signup_box">
              <h1>Writing time!</h1><br/>
              <form>
                <h4>What was the worst time of your life?</h4>
                <input type="text" placeholder="this is the rock bottom"/>
                <h4>And what made you decide you wanted to get better</h4>
                <input type="text" placeholder="this is the moment of clarity"/>
                <p ng-tap="$navigate.go('/home', 'slide')"><button class="submit_simple">next</button></p>
              </form>
            </article>
          </slide>

        </carousel>




      </div>
        <!--box end-->

    </div>
    <!-- row end -->
<footer></footer>
</section>
