<br/>
<br/>
<div class="panel row down">
    <input type="text" class="share_input" placeholder="share a book"/>
    <button type="submit" class="share_content">share</button>
</div>


<div class="row">
    <ul><button ><li>Science</li></button>
        <button><li>Opinion</li></button>
        <button><li>Fun</li></button>
    </ul>
</div>

<div class="row down">

    <div class="large-4 book  columns">
        <div class="panel">
            <div class="small-3 large-4 book  columns "><img class="book" class="book"src="images/article1.jpg" /></div>
            <h3>Picking Addiction Help <i> JANE E. BRODY</i></h3>
            <h4>New York Times</h4><div>
            <p>“Treatment is not a prerequisite to surviving addiction.” This bold statement opens the treatment chapter in a helpful new book, “Now What? An Insider’s Guide to Addiction and Recovery,” by William Cope Moyers, a man who nonetheless needed “four intense treatment experiences over five years” before he...
        </div>
            <ul class="inline-list squeezed">

                <li><button>Share</button></li>
                <li><button>Favorite</button></li>
            </ul>

        </div>
    </div>


    <div class="large-4 book  columns"><a href="http://www.bloomberg.com/news/2013-05-01/titan-s-probuphine-fails-to-win-approval-for-opioid-addiction.html">
        <div class="panel">
            <div class="small-3 large-4 book  columns "><img class="book" class="book"src="images/article2.jpg" /></div>
            <h3>Titan Plunges After FDA Rejects Drug-Addiction Treatment- <i> Anna Edney</i></h3>
            <h4>Bloomberg</h4><div>
            <p>Titan Pharmaceuticals Inc. (TTNP) plunged the most in 17 years after the company failed to win U.S. regulatory approval for an implant to treat addiction to heroin and prescription painkillers. Titan fell 74 percent to 43 cents at 4 p.m. New York time, the biggest drop...</p></a>
    </div>
    <ul class="inline-list squeezed">
        <li><button>Share</button></li>
        <li><button>Favorite</button></li>
    </ul>

</div>
</div>


<div class="large-4 book  columns">
    <div class="panel">
        <div class="small-3 large-4 book  columns "><img class="book" class="book"src="images/article3.jpg" /></div>
        <h3>Addiction: Everybody Has a Beast- <i>
            Dr. Howard Samuels</i></h3>
        <h4>Huffington Post</h4><div>
        <p>One of my most powerful memories is of my sister crying. Now, it's important for me to tell you that I come from a very large family, and that over the course of our lives, I'd seen my sister cry many, many times. When you're all living under the same roof, you learn a lot about each other.... </p>
    </div>
        <ul class="inline-list squeezed">
            <li><button>Share</button></li>
            <li><button>Favorite</button></li>
        </ul>

    </div>
</div>

<div class="large-4 book  columns">
    <div class="panel">
        <div class="small-3 large-4 book  columns "><img class="book" class="book"src="images/article4.jpg" /></div>
        <h3>‘Clean: Overcoming Addiction and Ending America’s Greatest Tragedy’<i>David Sheff</i></h3>
        <h4>New York Times</h4><div>
        <p>The view that drug use is a moral choice is pervasive, pernicious, and wrong. So are the corresponding beliefs about the addicted — that they’re weak, selfish, and dissolute; if they weren’t, when their excessive drug taking and...</p>
    </div>
        <ul class="inline-list squeezed">
            <li><button>Share</button></li>
            <li><button>Favorite</button></li>
        </ul>

    </div>
</div>

<div class="large-4 book  columns">
    <div class="panel">
        <div class="small-3 large-4 book  columns "><img class="book" class="book"src="images/article5.jpg" /></div>
        <h3>A Rising Tide of Substance Abuse<i>Richard A. Friedman, M.D.</i></h3>
        <h4>New York Times</h4><div>
        <p>America’s 78 million aging baby boomers are heading into retirement with more than their considerable wealth, health and education. They are also bringing into their golden years an epidemic of drug and alcohol abuse and mental illness that has yet to be...</p>
    </div>
        <ul class="inline-list squeezed">
            <li><button>Share</button></li>
            <li><button>Favorite</button></li>
        </ul>

    </div>
</div>

<div class="large-4 book  columns">
    <div class="panel">
        <div class="small-3 large-4 book  columns "><img class="book" class="book"src="images/article6.jpg" /></div>
        <h3>$185,000 Requested for Drug Abuse Program at Banning Jail </h3>
        <h4>City News Service</h4><div>
        <p>The Board of Supervisors Tuesday authorized Riverside County Sheriff Stan Sniff to apply for a $185,427 state grant that would enable the continuation of a substance abuse program for inmates at the Smith Correctional Facility in Banning...</p>
    </div>
        <ul class="inline-list squeezed">
            <li><button>Share</button></li>
            <li><button>Favorite</button></li>
        </ul>

    </div>
</div>

<div class="large-4 book  columns">
    <div class="panel">

        <div class="small-3 large-4 book  columns "><img class="book" class="book"src="images/article7.jpg" /></div>
        <h3>Isle of Man alcoholism affects thousands</h3>
        <h4>BBC News</h4><div>
        <p>About 10,000 people on the Isle of Man are thought to be affected by the problem of alcoholism, according to a local helpline service. The estimate comes as part of a UK-wide campaign, Children of Alcoholics week, which aims to raise awareness of the affects of dependency on family life....</p>
    </div>
        <ul class="inline-list squeezed">
            <li><button>Share</button></li>
            <li><button>Favorite</button></li>
        </ul>

    </div>
</div>

<div class="large-4 book  columns">
    <div class="panel">
        <div class="small-3 large-4 book  columns "><img class="book" class="book"src="images/article8.jpg" /></div>
        <h3>Moderation rather than abstinence</h3>
        <h4>Medical Express</h4><div>
        <p>A potential new treatment for alcoholism called nalmefene is effective and safe for reducing alcohol consumption in alcohol dependent individuals, says a new study published this week in Biological Psychiatry.Traditionally, abstinence has been regarded as the primary treatment goal for alcohol dependence, and current...</p>
    </div>
        <ul class="inline-list squeezed">
            <li><button>Share</button></li>
            <li><button>Favorite</button></li>
        </ul>

    </div>
</div>


<div class="large-4 book  columns">
    <div class="panel">
        <div class="small-3 large-4 book  columns "><img class="book" class="book"src="images/article9.jpg" /></div>
        <h3>Using Yoga To Overcome Addiction</h3>
        <h4>Blisstree</h4><div>
        <p>If you’re interested in yoga or addiction recovery, you might want to clear your schedule for this weekend’s Recovery 2.0 Beyond Addiction Conference. The conference, which is free and happens completely online, is designed for people to “get inspiration + tools for successful recovery, optimal health and a life of fulfilling purpose beyond addiction,” according to the....</p>
    </div>
        <ul class="inline-list squeezed">
            <li><button>Share</button></li>
            <li><button>Favorite</button></li>
        </ul>

    </div>
</div>
