<div class="row info_head">
<div class="large-12 columns ">
    <div class="panel professional_help">

        <div class="row">
      
            <div class="small-9 large-9 columns">
                <h1>Great! Now you'll be an expert. Tell us what you need.</h1>
                <form class="custom">


                    <div class="row">
                        <ul class="small-block-grid-2 large-block-grid-3">
                            <li>


                                <div class="styled-select">
                                    <select id="customDropdown1" class="medium">
                                        <option value="" selected="selected">Inpatient</option>
                                        <option value="" selected="selected">Outpatient</option>
                                        <option value="" selected="selected">Therapy</option>
                                    </select>



                                </div>
                                <span>within</span>
                            </li>

                            <li>

                                <div class="styled-select">
                                    <select id="customDropdown1" class="medium">
                                        <option value="" selected="selected">10 miles</option>
                                        <option value="" selected="selected">25 miles</option>
                                        <option value="" selected="selected">50 miles</option>
                                    </select>
                                </div>

                                <span>of</span>
                            </li>
                            <li>

                                <div class="styled-select">
                                    <select id="customDropdown1" class="medium">
                                        <option value="" selected="selected">10 miles</option>
                                        <option value="" selected="selected">25 miles</option>
                                        <option value="" selected="selected">Brooklyn, NY</option>
                                    </select>

                                </div>

                            </li> </ul>
                    </div>
                    <div class="row">


                        <ul class="small-block-grid-2 large-block-grid-3">
                            <li>
                                <h3>Gender</h3>
                                <button class="tiny button secondary">both</button>
                                <button class="tiny button secondary">male</button>
                                <button class="tiny button secondary">female</button>
                                <button class="tiny button secondary">other</button>
                            </li>
                            <li>
                                <h3>Insurance</h3>
                                <button class="tiny button secondary">yes</button>
                                <button class="tiny button secondary">no</button>

                            </li>

                            <li>
                                <h3>Specialities</h3>
                                <button class="tiny button secondary">music</button>
                                <button class="tiny button secondary">art</button>
                                <button class="tiny button secondary">computers</button>
                                <button class="tiny button secondary">sports</button>
                                <button class="tiny button secondary">film/video</button>
                                <button class="tiny button secondary">academics</button>
                                <button class="tiny button secondary">FOOD</button>
                            </li>
                        </ul>

                    </div>
                </form>




            </div>


        </div>
    </div>
</div>
<!-- End Header and Nav -->

<div class="row down">

    <!-- Nav Sidebar -->
    <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="panel large-6 columns push-3 providers">


        <div class="row entry member_entry">
            <div class="small-3 large-2 columns "><img class="circle dimensions" height="75" width="75" src="images/merryfrons.jpeg" /></div>
            <div class="small-9 large-10 columns">
                <p><strong>Dr. Merry Frons</strong>
                <h5>Psychotherapist, New York, NY</h5>
                <p>I have over 20 years experience in blah</p>
                <ul class="inline-list squeezed">
                    <li><button>Call</button></li>
                    <li><button>Book </button></li>
                    <li><button>Reviews</button></li>
                    <li><button>Website</button></li>
                </ul>
            </div>
        </div>


        <div class="row entry member_entry">
            <div class="small-3 large-2 columns "><img class="circle" src="images/flahe.jpeg" /></div>
            <div class="small-9 large-10 columns">
                <p><strong>The Florida House Experience</strong>In patient
                    When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
                <ul class="inline-list squeezed">
                    <li><button>Call</button></li>
                    <li><button>Book </button></li>
                    <li><button>Reviews</button></li>
                    <li><button>Website</button></li>
                </ul>
            </div>
        </div>


        <div class="row entry member_entry">
            <div class="small-3 large-2 columns "><img class="circle" src="images/morningsiderecovery.jpeg" /></div>
            <div class="small-9 large-10 columns">
                <p><strong>Morningside Recovery</strong>For a “rehab near the beach” experience that isn’t quite as costly as similar SoCal competitors, head to this Newport Beach treatment facility.</p>
                <ul class="inline-list squeezed">
                    <li><button>Call</button></li>
                    <li><button>Book </button></li>
                    <li><button>Reviews</button></li>
                    <li><button>Website</button></li>
                </ul>
            </div>
        </div>


        <div class="row entry member_entry">
            <div class="small-3 large-2 columns "><img class="circle" src="images/realizationcenter.JPG" /></div>
            <div class="small-9 large-10 columns">
                <p><strong>Boris .</strong>Rock Bottom: When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
                <ul class="inline-list squeezed">
                    <li><button>Call</button></li>
                    <li><button>Book </button></li>
                    <li><button>Reviews</button></li>
                    <li><button>Website</button></li>
                </ul>
            </div>
        </div>

        <div class="row entry member_entry">
            <div class="small-3 large-2 columns "><img class="circle" src="images/graham.jpg" /></div>
            <div class="small-9 large-10 columns">
                <p><strong>Boris .</strong>Rock Bottom: When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
                <ul class="inline-list squeezed">
                    <li><button>Call</button></li>
                    <li><button>Book </button></li>
                    <li><button>Reviews</button></li>
                    <li><button>Website</button></li>
                </ul>
            </div>
        </div>

        <div class="row entry member_entry">
            <div class="small-3 large-2 columns "><img class="circle" src="images/member6.jpg" /></div>
            <div class="small-9 large-10 columns">
                <p><strong>Boris .</strong>Rock Bottom: When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
                <ul class="inline-list squeezed">
                    <li><button>Call</button></li>
                    <li><button>Book </button></li>
                    <li><button>Reviews</button></li>
                    <li><button>Website</button></li>
                </ul>
            </div>
        </div>


    </div>

    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 columns pull-6 side_bar">
              <div class="small-6 large-11 columns"><img  src="images/drpenguin.png" /></div>
        <div class="panel">


            <div class="row">
                <hr/>
                <h3>&nbsp;Some Thoughts</h3>
                <div class="small-5 large-11 columns"><h4>You might in-patient treatment if...</h4>
                    <p>When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="small-5 large-11 columns"><h4>Or out-patient treatment if...</h4>
                    <p>When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="small-5 large-11 columns"><h4>And some therapy if...</h4>
                    <p>When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
                </div>
            </div>


        </div>
    </div>


    <!-- Right Sidebar -->

    <aside class="large-3 columns hide-for-small">
        <p class="ad"><img src="images/alltyr_ad.jpg" /></p><br/>
        <p class="ad"><img src="images/therapy_ad.jpg" /></p>
    </aside>
    <!-- On small devices this column is hidden -->


</div>

