<div class="row info_head">
    <div class="large-12 columns ">
        <div class="panel sos_head">

            <div class="row">
                
                <div class="small-9 large-9 columns">
                    <h1>Stay Calm! We've all been here. Send out a signal and someone will be here for you so soon!</h1>
</div>


<form class="custom">


                    <div class="row_sos">
                        <ul class="small-block-grid-2 large-block-grid-3">
                            <li>

                                <div class="styled-select">
                                    <select id="customDropdown1" class="medium">
                                        <option value="" selected="selected">Both</option>
                                        <option value="" selected="selected">Abstainers</option>
                                        <option value="" selected="selected">Moderators</option>
                                    </select>



                                </div>
                                <span class="smallword"></span>
                            </li>

                            <li>

                                <div class="styled-select">
                                    <select id="customDropdown1" class="medium">
                                        <option value="" selected="selected">10 miles</option>
                                        <option value="" selected="selected">25 miles</option>
                                        <option value="" selected="selected">50 miles</option>
                                    </select>
                                </div>

                                <span class="smallword"></span>
                            </li>
                            <li>

                                <div class="styled-select">
                                    <select id="customDropdown1" class="medium">
                                        <option value="" selected="selected">10 miles</option>
                                        <option value="" selected="selected">25 miles</option>
                                        <option value="" selected="selected">Brooklyn, NY</option>
                                    </select>

                                </div>

                            </li> </ul>
                    </div>
                    <div class="row_sos">


                        <ul class="small-block-grid-2 large-block-grid-3">
                            <li>
                                <h3>Gender</h3>
                                <button class="tiny button secondary">both</button>
                                <button class="tiny button secondary">male</button>
                                <button class="tiny button secondary">female</button>
                                <button class="tiny button secondary">other</button>
                            </li>
                            <li>
                                <h3>Drug Preferences</h3>

                                <button class="tiny button secondary settings_sos">moderating</button>
                                <button class="tiny button secondary">abstaining</button>
<div class="styled-select">
                                    <select id="customDropdown1" class="medium">
                                        <option value="" selected="selected">Pot</option>
                                        <option value="" selected="selected">Alcohol</option>
                                        <option value="" selected="selected">Pills</option>
                                          <option value="" selected="selected">Alcohol</option>
                                    </select>

                                </div>


                            </li>

                            <li>
                                <h3>Interests</h3>
                                <button class="tiny button secondary">music</button>
                                <button class="tiny button secondary">art</button>
                                <button class="tiny button secondary">computers</button>
                                <button class="tiny button secondary">sports</button>
                                <button class="tiny button secondary">film/video</button>
                                <button class="tiny button secondary">academics</button>
                                <button class="tiny button secondary">FOOD</button>
                            </li>
                        </ul>

                    </div><div class="small-9 large-9 columns"><button type="submit" class="big sos_send">Send it out</button>
                </form>
</div>
            </div>


        </div>

    </div>
</div>

<!-- End Header and Nav -->
<br/></br><br/>
<br/><br/>
<div class="row down">

    <!-- Nav Sidebar -->
    <!-- Main Feed -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="panel large-6 columns push-3 soslist">
<h2 class="sos_feed_title">Here's everyone else around in your boat. Reach out!</h2>

        <div class="row member_entry">
            <div class="small-3 large-2 columns "><img class="circle dimensions" height="75" width="75" src="images/member1.jpg" /></div>
            <div class="small-9 large-10 columns">
                <p><strong>Boris .</strong>Rock Bottom: When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
                <br/><ul class="inline-list ">
                    <li><button>Call</button></li>
                    <li><button>Add to Pod</button></li>
                    <li><button>Invite to meeting</button></li>
                    <li><button>Send message</button></li>
                </ul>
            </div>
        </div>


        <div class="row member_entry">
            <div class="small-3 large-2 columns "><img class="circle" src="images/member2.jpg" /></div>
            <div class="small-9 large-10 columns">
                <p><strong>Boris .</strong>Rock Bottom: When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
                <br/><ul class="inline-list ">
                    <li><button>Call</button></li>
                    <li><button>Add to Pod</button></li>
                    <li><button>Invite to meeting</button></li>
                    <li><button>Send message</button></li>
                </ul>
            </div>
        </div>


        <div class="row member_entry">
            <div class="small-3 large-2 columns "><img class="circle" src="images/member3.jpg" /></div>
            <div class="small-9 large-10 columns">
                <p><strong>Boris .</strong>Rock Bottom: When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
                <br/><ul class="inline-list ">
                    <li><button>Call</button></li>
                    <li><button>Add to Pod</button></li>
                    <li><button>Invite to meeting</button></li>
                    <li><button>Send message</button></li>
                </ul>
            </div>
        </div>


        <div class="row member_entry">
            <div class="small-3 large-2 columns "><img class="circle" src="images/member4.jpg" /></div>
            <div class="small-9 large-10 columns">
                <p><strong>Boris .</strong>Rock Bottom: When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
                <br/><ul class="inline-list ">
                    <li><button>Call</button></li>
                    <li><button>Add to Pod</button></li>
                    <li><button>Invite to meeting</button></li>
                    <li><button>Send message</button></li>
                </ul>
            </div>
        </div>

        <div class="row member_entry">
            <div class="small-3 large-2 columns "><img class="circle" src="images/member5.jpg" /></div>
            <div class="small-9 large-10 columns">
                <p><strong>Boris .</strong>Rock Bottom: When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
                <br/><ul class="inline-list ">
                    <li><button>Call</button></li>
                    <li><button>Add to Pod</button></li>
                    <li><button>Invite to meeting</button></li>
                    <li><button>Send message</button></li>
                </ul>
            </div>
        </div>

        <div class="row member_entry">
            <div class="small-3 large-2 columns "><img class="circle" src="images/member6.jpg" /></div>
            <div class="small-9 large-10 columns">
                <p><strong>Boris .</strong>Rock Bottom: When I woke up in Sibera with an empty wallet, broken RAM drive and realized my parrot was missing. I got home and he said to me 'Polly needs DiDi back'</p>
                <br/><ul class="inline-list ">
                    <li><button>Call</button></li>
                    <li><button>Add to Pod</button></li>
                    <li><button>Invite to meeting</button></li>
                    <li><button>Send message</button></li>
                </ul>
            </div>
        </div>


    </div>

    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-3 columns pull-6">
        <div class="panel">

<div class="small-2 large-12 columns"><img src="images/dontdrinkthat.gif" /></div><hr/>
            <div class="row">
                <div class="small-5 large-11 columns"><h4>Reminders:</h4>
                    <p>This is <strong>just a phase</strong>. Challenge yourself to duel of emotional resolve.</p>
                </div>
            </div>
<hr/>
            <div class="row">
                <div class="small-5 large-11 columns"><h4>Tips:</h4>
                    <p>What do you enjoy doing that has some sense of urgency? Make that urgency? Don't you want to write your memior? <i>if not..</i></p>
                </div>
            </div>
<hr/>
            <div class="row">
                <div class="small-5 large-11 columns"><h4>Explore:</h4>
                    <p>There's so much in the world to learn, so many things, check out <a href="#">devour</a></p>
                </div>
            </div>
<hr/>
            <div class="row">
                <div class="small-5 large-11 columns"><h4>Didn't like that?</h4>
                    <p>I suppose you're more of a reader then. You're in luck because the fun never stops with <a href="#">mental floss</a></p>
                </div>
            </div>

     
      

        </div>
    </div>


    <!-- Right Sidebar -->

    <aside class="panel large-3 columns hide-for-small">
        <h3>A Quote From The Pros</h3>
        <blockquote>
            When you begin, it's a man takes a drink. When you end up, it's a drink takes a man. Keeping my balance during that period was tricky. <br/><br/>&nbsp;When I was in my twenties, I thought I was invincible, made out of rubber. You skate along the straight razor and flirt with it all the time.<br/><br/>&nbsp;I've been sober now for nine years; the best thing I ever did apart from getting married. Was it hard to quit? No, the hard part was before I quit. This is the easy part."
            <blockquote>
                <p>-Tom Waits on soberity  <img src="images/twaits.png" class="small-2 circle "/></p>
    </aside>
    <!-- On small devices this column is hidden -->


</div>

